@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oswald:wght@300;400;500&family=Playfair+Display:ital,wght@0,500;0,600;1,400&family=Reem+Kufi&family=Shalimar&family=Teko:wght@500&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: #28025a
}

/* Font class */
.font-all {
  font-family: 'Hind Siliguri', sans-serif;
}

.font-Oswald {
  font-family: 'Oswald', sans-serif;
}

.font-reem{
  font-family: 'Reem Kufi', sans-serif;
}

.sticky-nav {
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(45,62,131,0.923);
  transition: all linear 0.4s;
  color: #4ee4ff;
  z-index: 99999;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  animation: scroll-header-animation 0.5s linear;
  box-shadow: 0px 2px 15px #0000000d;
  
}

.bgGradient {
  background: rgb(83,27,172);
  background: radial-gradient(circle, rgba(83,27,172,1) 0%, rgba(18,86,102,1) 100%);
}

.bg-header {
  background: rgb(83,27,172);
  background: radial-gradient(circle, rgba(45,62,131,1) 0%, rgba(18,86,102,1) 100%);
}



/* ===== scrollbar design css ===== */
/* ::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background-color: #b75bf552;
}
::-webkit-scrollbar-thumb{
  background-color: #4c118391;
  border-radius: 20px;
} */


/* text gradient */
.text1 {
  background: linear-gradient(90deg, #09619c, #c769f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text2 {
  background: linear-gradient(90deg, #ffffff, #ce76f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient1 {
  background: linear-gradient(45deg, #5b34c7ec, #6715c49d);
}
.gradient1{
  background: linear-gradient(45deg, #4511d45e, #1592c442);
}




/* marquee tags style */
.notice-container {
  overflow: hidden;
  width: 100%;
}


.notice-text {
  display: inline-block;
  animation: marquee 10s linear infinite;
}


/* backgroud img */

.bg-gradient-trasparent{
  background: radial-gradient(circle, rgba(106, 46, 202, 0.575) 0%, rgba(8, 96, 116, 0.418) 100%);
}
.bg-search-box{
  background: radial-gradient(circle, rgba(102, 19, 197, 0.575) 0%, rgba(3, 110, 129, 0.418) 100%);
}

.bg-dashboard {
  background: radial-gradient(circle, rgb(239, 234, 247) 0%, rgb(227, 240, 243) 100%);
}
.bg-btn {
  background: radial-gradient(circle, rgba(104, 17, 243, 0.801) 0%, rgba(154, 85, 243, 0.801) 100%);
}


.registration-bg {
  background-image: url('../assets/image/login-bg.avif');
  background-size: cover;
  background-position: center;
}

.contact-bg{
  background-image: url('../assets/image/banner-bg.jpg');
  background-size: cover;
  background-position: center;
}
.banner-home-bg{
  background-image: url('../assets/image/banner-bg2.avif');
  background-size: cover;
  background-position: center;
}
.sidebar-bg{
  background-image: url('../assets/image/bg-dashboard2.avif');
  background-size: cover;
  background-position: center;
}

.dashboard-content-bg{
  background-image: url('../assets/image/dark-bg.jpg');
  background-size: cover;
  background-position: center;
}

.profile-banner-bg {
  background-image: url('../assets/image/dark-bg.jpg');
  background-size: cover;
  background-position: center;
}


.booking-card:hover div div {
  /* background: transparent; */
  transform: translate( 0, -20rem); 
  /* transform: scale(0); */
}



/* layout grid custom css */
.booking-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}



/* animation header */
@keyframes scroll-header-animation {
  from {
    top: -90px;
  }

  to {
    top: 0;
  }
}

